@font-face {
    font-family: 'Montserrat-Regular';
    src: url(/src/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(/src/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'RobotoMono';
    src: url(/src/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 964px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    text-align: center;
    background: #0099FF;
    position: relative;
    margin-bottom: 230px;
    &__bg {
        position: absolute;
        left: 0;
        bottom: -150px;
        width: 100%;
        z-index: -1;
        background-image: url('/src/img/wave.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        min-height: 150px;
    }
    &__title {
        padding-top: 150px;
        font-family: 'Montserrat-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 117px;
        color: #ffffff;
    }
    &__arrow {
        padding-top: 40px;
    }
}

.s-info {
    &__title {
        font-family: 'Montserrat-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #000000;
    }
    &__subtitle {
        display: block;
        font-style: normal;
        font-weight: 400;
        line-height: 59px;
        text-align: center;
    }
    &-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 75px;
        &__paragraph {
            padding: 0;
            margin: 0;
            font-family: 'Montserrat-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: #000000;
        }
        &__span {
            display: block;
            margin-top: 28px;
            font-family: 'Montserrat-Regular';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: #000000;

        }
        &__qr {
            width: 160px;
            height: 160px;
        }
    }
}

.footer {
    margin-top: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background: #005C99;
    &__author {
        font-family: 'RobotoMono';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
    }
}